h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
    font-size: 75px;
}
.grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}
.année{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: crimson;
}
    
.activité{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ;
}